<ion-view view-title="Radio">
  <ion-content class="padding" >
      
      
      
        <button class="button" on-tap="play('http://radio.pregonera.net:6366/1/;stream//;stream.mp3')">Escuchar pregonera</button>

            <div class="range">
                <i class="icon ion-volume-low"></i>
                <input type="range" name="volume" min="0" max="100" value="50" ng-model="data.volume">
                <i class="icon ion-volume-high"></i>
            </div>
  </ion-content>
</ion-view>
